modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "./dist/index.cjs"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["javascript_anthropic:1.0.0", "javascript_log_in_with_replit:2.0.0"]

[userenv]

[userenv.shared]
LANGCHAIN_PROJECT = "DFIN-Pipeline"
FIREBASE_API_KEY = "AIzaSyD7-577fwwIS9bq5giu4yKeRtWSCKZi0uo"
FIREBASE_AUTH_DOMAIN = "aippm-99f68.firebaseapp.com"
FIREBASE_PROJECT_ID = "aippm-99f68"
FIREBASE_STORAGE_BUCKET = "aippm-99f68.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID = "217849572136"
FIREBASE_APP_ID = "1:217849572136:web:ce283bd9de6b4bb5047e1d"
